* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #48793c;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #90c381;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 10px;
}

.perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.titulo img{
    height: 100px;
}

.container {
    display: flex;
    height: 100vh;
}

aside {
    width: 250px;
    background-color: #48793c;
    padding: 20px;
}

nav ul {
    list-style: none;
}

nav ul li {
    margin: 15px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #4CAF50;
}

main {
    flex: 1;
    padding: 20px;
}