*{
    font-family: "Be Vietnam Pro", serif;
}
body{
    display: flex;
    gap: 200px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #90c381;
}
.registro{
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);;
}
.registro h2{
    text-align: center;
    margin-bottom: 20px;
}

.registro input{
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.registro button{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #5caf75;
    color: white;
    cursor: pointer;
}

.registro button:hover{
    background: #0056b3;
}
.radio{
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    margin: 10px 0;
}

.logo{
    text-align: center;
}
  
