*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", serif;
}


body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    overflow-y: hidden;
    background-color: rgb(213, 225, 208);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    background-color: #90c381;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.216); 
}

body {
    margin: 0; 
    overflow-x: hidden; 
    overflow-y: hidden;
}
.perfil {
    display: flex;
    align-items: center;
    gap: 25px;
    
}

.perfil img {
    width: 40px;
    height: 40px;
   
}

.titulo {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.titulo img{
    height: 80px;
}

a{
    text-decoration: none;
    color: #48793c;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin-left: 10%;
    height: 100vh; 
}
.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.216); 
}
.container h2   {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
   
}